<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${currentdir}\logs\internal-nlog-AspNetCore.log">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="logDir" value="${currentdir}\logs\${shortdate}"/>

	<!-- the targets to write to -->
	<targets>
		<!-- File Target for all log messages with basic details -->
		<target xsi:type="File" name="messagefile" fileName="${logdir}\message\message-logs-${shortdate}.log"
				layout="${longdate} [${level}] ${logger}: ${message}${newline}${exception:format=tostring}"
				maxArchiveFiles="10"
				archiveEvery="Day"
				archiveNumbering="Sequence"
				archiveAboveSize="1024000"
				archiveFileName="${logdir}\message\archives\${shortdate}.{#}.log"/>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="messagefile" />
	</rules>
</nlog>