<ng-container>
  <div class="content">
    <mat-card-title class="content-title">Company information</mat-card-title
    ><button
      mat-raised-button
      color="primary"
      type="button"
      routerLink="/company"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <form [formGroup]="companyForm" novalidate *ngIf="company">
      <mat-card class="company-form-card shadow bg-body rounded">
        <mat-card-content class="fs-5">
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Company name"
                  formControlName="companyName"
                />
                <mat-error
                  *ngIf="
                    companyForm.controls['companyName'].hasError('required')
                  "
                >
                  Company name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Established at</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  placeholder="Established at"
                  formControlName="establishedAt"
                />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Address"
                  formControlName="address"
                />
                <mat-error
                  *ngIf="companyForm.controls['address'].hasError('required')"
                >
                  Address is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="City" formControlName="city" />
                <mat-error
                  *ngIf="companyForm.controls['city'].hasError('required')"
                >
                  City is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Country"
                  formControlName="country"
                />
                <mat-error
                  *ngIf="companyForm.controls['country'].hasError('required')"
                >
                  Country is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Email" formControlName="email" />
                <mat-error
                  *ngIf="companyForm.controls['email'].hasError('required')"
                >
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Phone number"
                  formControlName="phoneNumber"
                />
                <mat-error
                  *ngIf="
                    companyForm.controls['phoneNumber'].hasError('required')
                  "
                >
                  Phone number is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div> </mat-card-content
        ><mat-card-actions>
          <button
            mat-raised-button
            color="accent"
            type="button"
            [routerLink]="['/company', 'edit', company.id]"
          >
            Edit
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</ng-container>
