<div class="container">
  <h2 class="my-4">Add new employee</h2>
  <form
    class="row g-3 needs-validation"
    [noValidate]="false"
    [formGroup]="employeeForm"
    (ngSubmit)="addEmployee()"
  >
    <div class="col-md-6">
      <app-text-input
        [formControl]="$any(employeeForm.controls['firstName'])"
        [id]="'firstName'"
        [label]="'First Name'"
        [placeholder]="'Johny Johny'"
      ></app-text-input>
    </div>
    <div class="col-md-6">
      <app-text-input
        [formControl]="$any(employeeForm.controls['lastName'])"
        [id]="'lastName'"
        [label]="'Last Name'"
        [placeholder]="'Yes Papa'"
      ></app-text-input>
    </div>
    <div class="col-md-6">
      <app-text-input
        [formControl]="$any(employeeForm.controls['dateOfBirth'])"
        [id]="'dateOfBirth'"
        [label]="'Birthday'"
        [type]="'date'"
      ></app-text-input>
    </div>
    <div class="col-md-6">
      <label for="gender" class="form-label fw-bold">Gender</label>
      <select class="form-select" id="gender" formControlName="gender">
        <option [ngValue]="null" disabled selected>--Gender--</option>
        <option *ngFor="let gender of genders" [ngValue]="gender.value">
          {{ gender.title }}
        </option>
      </select>
    </div>
    <div class="col-md-6">
      <app-text-input
        [formControl]="$any(employeeForm.controls['email'])"
        [id]="'email'"
        [label]="'Email'"
        [placeholder]="'company@abcsolutions.com'"
      ></app-text-input>
    </div>
    <div class="col-md-6">
      <app-text-input
        [formControl]="$any(employeeForm.controls['phoneNumber'])"
        [id]="'phoneNumber'"
        [label]="'Phone Number'"
        [placeholder]="'1234567890'"
      ></app-text-input>
    </div>
    <div class="col-md-4">
      <app-text-input
        [formControl]="$any(employeeForm.controls['address'])"
        [id]="'address'"
        [label]="'Address'"
        [placeholder]="'1234 Main St'"
      ></app-text-input>
    </div>
    <div class="col-md-4">
      <app-text-input
        [formControl]="$any(employeeForm.controls['city'])"
        [id]="'city'"
        [label]="'City'"
        [placeholder]="'Wall'"
      ></app-text-input>
    </div>
    <div class="col-md-4">
      <app-text-input
        [formControl]="$any(employeeForm.controls['country'])"
        [id]="'country'"
        [label]="'Country'"
        [placeholder]="'England'"
      ></app-text-input>
    </div>
    <div class="col-md-12">
      <label for="company" class="form-label fw-bold">Company</label>
      <select class="form-select" id="company" formControlName="companyId">
        <option [ngValue]="null" disabled selected>--Company--</option>
        <option *ngFor="let company of companies" [ngValue]="company.companyId">
          {{ company.companyName }}
        </option>
      </select>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="
            !(employeeForm.status === 'VALID' && employeeForm.dirty)
              ? true
              : false
          "
        >
          Add</button
        ><a
          [ngClass]="employeeForm.dirty ? 'disabled' : ''"
          class="btn btn-danger ms-2"
          role="button"
          [routerLink]="['/companies']"
          >Back to list</a
        >
      </div>
    </div>
  </form>
</div>
