<div class="container">
  <h2 class="my-4">Employee details</h2>
  <div class="row" *ngIf="employee">
    <div class="col-4">
      <img
        class="img-thumbnail rounded employee-thumbnail"
        src="{{ employee.imageUrl }}"
        alt="User Photo"
      />
    </div>
    <div class="col-8 shadow-lg p-3 bg-body rounded employee-info">
      <div class="employee-info__details">
        <div class="row fs-5 p-2 mx-2">
          <div class="col-4">
            <p>
              <strong>Full name:</strong> {{ employee.firstName }}
              {{ employee.lastName }}
            </p>
          </div>
          <div class="col-4">
            <p>
              <strong>Gender:</strong> {{ employee.gender ? "Female" : "Male" }}
            </p>
          </div>
          <div class="col-12">
            <p><strong>Date of birth:</strong> {{ employee.dateOfBirth }}</p>
          </div>
          <div class="col-4">
            <p><strong>Company:</strong> {{ companyName }}</p>
          </div>
          <div class="col-4">
            <p><strong>Hired at:</strong> {{ employee.hiredAt }}</p>
          </div>
        </div>
        <div class="row fs-5 p-2 mx-2">
          <div class="col-6">
            <p><strong>Email:</strong> {{ employee.email }}</p>
          </div>
          <div class="col-6">
            <p><strong>Phone number:</strong> {{ employee.phoneNumber }}</p>
          </div>
          <div class="col-12">
            <p><strong>Address</strong> {{ employee.address }}</p>
          </div>
          <div class="col-12">
            <p><strong>City:</strong> {{ employee.city }}</p>
          </div>
          <div class="col-12">
            <p><strong>Country:</strong> {{ employee.country }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mt-4">
      <div class="button-group">
        <a class="btn btn-primary" role="button" [routerLink]="['/employees']"
          >Back to list</a
        >
        <a
          class="btn btn-success ms-2"
          [routerLink]="['/employees', 'edit', employee.id]"
          role="button"
          >Edit</a
        >
      </div>
    </div>
  </div>
</div>
