.employee-thumbnail {
  width: 400px;
  height: 400px;
}
.employee-info {
  position: relative;
}
.employee-info__details {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
