<ng-container>
  <div class="content">
    <mat-card-title class="content-title"
      >Edit employee information</mat-card-title
    >
    <ng-container *ngIf="employee">
      <button
        mat-raised-button
        color="primary"
        type="button"
        routerLink="/employee"
      >
        List
      </button>
      <button
        mat-raised-button
        class="ms-2"
        color="primary"
        type="button"
        [routerLink]="['/employee', employee.id]"
      >
        Details
      </button>
      <form
        [formGroup]="employeeForm"
        novalidate
        (ngSubmit)="onSubmit()"
        *ngIf="employee"
      >
        <mat-card class="employee-form-card shadow bg-body rounded">
          <mat-card-content class="fs-5">
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <mat-label>Company</mat-label>
                  <mat-select formControlName="companyId">
                    <mat-option
                      *ngFor="let company of companies"
                      [value]="company.id"
                    >
                      {{ company.companyName }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      employeeForm.controls['companyId'].hasError('required')
                    "
                  >
                    Company is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <app-text-input
                  [formControl]="$any(employeeForm.controls['firstName'])"
                  [label]="'First name'"
                ></app-text-input>
              </div>
              <div class="col-6">
                <app-text-input
                  [formControl]="$any(employeeForm.controls['lastName'])"
                  [label]="'Last name'"
                ></app-text-input>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <mat-form-field class="full-width">
                  <mat-label>Gender</mat-label>
                  <mat-select formControlName="gender">
                    <mat-option
                      *ngFor="let gender of genders"
                      [value]="gender.value"
                    >
                      {{ gender.title }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      employeeForm.controls['country'].hasError('required')
                    "
                  >
                    Gender is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="full-width">
                  <mat-label>Date of Birth</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    formControlName="dateOfBirth"
                  />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <app-text-input
                  [formControl]="$any(employeeForm.controls['address'])"
                  [label]="'Address'"
                ></app-text-input>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <app-text-input
                  [formControl]="$any(employeeForm.controls['city'])"
                  [label]="'City'"
                ></app-text-input>
              </div>
              <div class="col-6">
                <app-text-input
                  [formControl]="$any(employeeForm.controls['country'])"
                  [label]="'Country'"
                ></app-text-input>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <app-text-input
                  [formControl]="$any(employeeForm.controls['email'])"
                  [label]="'Email'"
                ></app-text-input>
              </div>
              <div class="col-6">
                <app-text-input
                  [formControl]="$any(employeeForm.controls['phoneNumber'])"
                  [label]="'Phone number'"
                ></app-text-input>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-raised-button
              color="accent"
              type="submit"
              [disabled]="!(employeeForm.dirty && employeeForm.valid)"
            >
              Submit
            </button>
            <button mat-raised-button type="button" (click)="onReset()">
              Cancel
            </button>
          </mat-card-actions>
        </mat-card>
      </form>
    </ng-container>
  </div>
</ng-container>
