<ng-container>
  <div class="content">
    <button mat-raised-button type="button" routerLink="/company">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <form [formGroup]="companyForm" novalidate (ngSubmit)="onSubmit()">
      <mat-card class="company-form-card shadow bg-body rounded">
        <mat-card-title class="content-title"
          >Company Information</mat-card-title
        >
        <mat-card-content class="fs-5">
          <div class="row">
            <div class="col-6">
              <app-text-input
                [formControl]="$any(companyForm.controls['companyName'])"
                [label]="'Company name'"
              ></app-text-input>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Established at</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  placeholder="12/31/1999"
                  formControlName="establishedAt"
                />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <app-text-input
                [formControl]="$any(companyForm.controls['address'])"
                [label]="'Address'"
              ></app-text-input>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <app-text-input
                [formControl]="$any(companyForm.controls['city'])"
                [label]="'City'"
              ></app-text-input>
            </div>
            <div class="col-6">
              <app-text-input
                [formControl]="$any(companyForm.controls['country'])"
                [label]="'Country'"
              ></app-text-input>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <app-text-input
                [formControl]="$any(companyForm.controls['email'])"
                [label]="'Email'"
              ></app-text-input>
            </div>
            <div class="col-6">
              <app-text-input
                [formControl]="$any(companyForm.controls['phoneNumber'])"
                [label]="'Phone number'"
              ></app-text-input>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="accent"
            type="submit"
            [disabled]="!(companyForm.dirty && companyForm.valid)"
          >
            Submit
          </button>
          <button mat-raised-button type="button" (click)="onCancel()">
            Cancel
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</ng-container>
